# This is our config file
# It tells the program what kind of vehicle to create
vehicle = 'Sim'

[Vehicles]
    [[Sim]]
    dotscene_file = "nothere.xml"
    
		[[[Ogre]]]
		    [[[[RenderSystem]]]]
		    type = "GLRenderSystem"
			    # Must be of the same name as the type                
			    [[[[[GLRenderSystem]]]]]
			        Colour Depth='32'
			        Display Frequency="N/A"
			        FSAA="0"
			        Full Screen="No"
			        RTT Preferred Mode="FBO"
			        VSync="No"
			        Video Mode="640 x 480"
		        
		    [[[[Resources]]]]
		    	[[[[[General]]]]]
		        Zip = """['media/packs/OgreCore.zip',
		        	   'media/packs/cubemapsJS.zip']"""
		        FileSystem = """['media/models',	
		                      'media/primitives',
		                      'media/materials/textures',
		                      'media/materials/scripts']"""