#Zip=../Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
#FileSystem=../Media
FileSystem=../Media/fonts
#FileSystem=../Media/materials/programs
#FileSystem=../Media/materials/scripts
#FileSystem=../Media/materials/textures
#FileSystem=../Media/models
#FileSystem=../Media/overlays
#FileSystem=../Media/particle
FileSystem=../Media/gui
#FileSystem=../Media/DeferredShadingMedia
#Zip=../Media/packs/cubemap.zip
#Zip=../Media/packs/cubemapsJS.zip
#Zip=../Media/packs/dragon.zip
#Zip=../Media/packs/fresneldemo.zip
#Zip=../Media/packs/ogretestmap.zip
#Zip=../Media/packs/skybox.zip

## for the ogrenewt demos
#FileSystem=../newtMedia/GUI/schemes
#FileSystem=../newtMedia/GUI/imagesets
#FileSystem=../newtMedia/GUI/fonts
#FileSystem=../newtMedia/fonts
FileSystem=../Media/newtMedia/materials/scripts
FileSystem=../media/newtMedia/materials/textures
FileSystem=../Media/newtMedia/models
FileSystem=../Media/newtMedia/primitives
Zip=../media/newtMedia/packs/OgreCore.zip
Zip=../media/newtMedia/packs/cubemapsJS.zip

